@import "fonts.css"

//mixin
bluehead()
  color: #3d6cb0
  text-transform uppercase
  font-family MyriadProBold

body
  margin 0 auto
  width 50%
  font-family MyriadProRegular

h1, h2, h3, h4, ul, li, p
  padding 0px
  margin 0px
  font-weight normal

.main
  display flex
  justify-content space-between
  padding-top 57px

.item
  position relative

  .icon
    position absolute
    height 50px
    width 50px
    top -6px
    left 3px
    z-index 101
    background url(img/sprite.png) no-repeat

  .icon_profile
    background-position 0 0

  .icon_contact
    background-position -56px 0

  .icon_skills
    background-position -109px 0

  .icon_education
    background-position -160px 0

  .icon_experience
    background-position -216px 0px

  .icon_software
    background-position -270px 0

  .header
    position relative

    h2
      position relative
      display inline-block
      padding-right 5px
      padding-left 58px
      z-index 100
      font-size 26.5px
      background-color white
      bluehead()

    hr
      position absolute
      top 7px
      z-index 10
      border 0
      height 3px
      width 100%
      background-color: #3d6cb0

.left-column
  width 34%
  margin-left 38px

  .card
    svg
      width 100%

    h1, h4
      padding-left 19px
      margin 0px
      text-align center
      text-transform uppercase
      font-weight normal

    h1
      padding-top 17px
      font-size 36px
      line-height 0.85

    h4
      line-height 2.2
      font-family MyriadProBold
      font-size 15.5px

    .surname
      font-size 40px
      font-family MyriadProBold

  .profile
    margin-top 48px

    .content
      p
        margin-top 14px
        margin-left 2px
        font-size 10px
        line-height 1.2

        span
          font-family MyriadProBold

  .contact
    margin-top 35px

    .content
      display flex
      flex-wrap nowrap

      ul
        margin-top 18px
        margin-left -8px
        display inline-block
        list-style none

        li
          padding 9.5px 11px
          font-size 13.3px

      .top
        margin-right 14px

        li
          bluehead()

  .skills
    margin-top 28px
    margin-bottom 28px

    .content
      margin-top 21px
      margin-left 6px

      .skill
        margin-bottom 4px

        h4
          text-transform uppercase
          text-align center
          font-size 16.6px

        .circles
          min-height 25px
          text-align center
          width 100%

          .circle
            display inline-block
            min-height 11px
            width 11px
            margin-right 3.5px
            background-color #3d6cb0
            border-radius 50%

          .opacity
            opacity 0.4

.right-column
  width 51%
  margin-right 27px

 .education
   margin-top 20px

   .content

     span
      bluehead()

     ul
       margin-top 24px
       margin-left 5px
       list-style none

       li
         margin-top 7px
         padding-left 25px
         background url(img/dote.png) 0px 3px no-repeat

         h3
           font-size 16.6px
           white-space pre-wrap

          p
            margin-top 5px
            font-family MyriadProRegular
            font-size 10px
            line-height 1.2

  .experience
    margin-top 41px

    .content
      @extend .education .content

      ul
        margin-top 34px

        span
          color black

  .software
    margin-top 41px

    .content
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-top 20px
      margin-left 2px

      .software-skill
        padding 2px 0px 14px 0px
        width 44.5%

        h4
          text-transform uppercase
          margin-bottom 6px
          font-size 16.6px

        .line
          width 100%
          height 14px
          background-color #e6e6e6

          .innerline
            width 50%
            height 14px
            background-color #3d6cb0

      .software-skill:nth-child(2n)
        padding-right 0px

@media screen and (max-width:1200px)

  .main
    display flex
    flex-direction column

    .left-column,
    .right-column
      width 100%
      padding 0px
      margin 0px

  .contact .content
    justify-content center
