@import "fonts.css";
body {
  margin: 0 auto;
  width: 50%;
  font-family: MyriadProRegular;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
}
.item {
  position: relative;
}
.item .icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -6px;
  left: 3px;
  z-index: 101;
  background: url("img/sprite.png") no-repeat;
}
.item .icon_profile {
  background-position: 0 0;
}
.item .icon_contact {
  background-position: -56px 0;
}
.item .icon_skills {
  background-position: -109px 0;
}
.item .icon_education {
  background-position: -160px 0;
}
.item .icon_experience {
  background-position: -216px 0px;
}
.item .icon_software {
  background-position: -270px 0;
}
.item .header {
  position: relative;
}
.item .header h2 {
  position: relative;
  display: inline-block;
  padding-right: 5px;
  padding-left: 58px;
  z-index: 100;
  font-size: 26.5px;
  background-color: #fff;
  color: #3d6cb0;
  text-transform: uppercase;
  font-family: MyriadProBold;
}
.item .header hr {
  position: absolute;
  top: 7px;
  z-index: 10;
  border: 0;
  height: 3px;
  width: 100%;
  background-color: #3d6cb0;
}
.left-column {
  width: 34%;
  margin-left: 38px;
}
.left-column .card svg {
  width: 100%;
}
.left-column .card h1,
.left-column .card h4 {
  padding-left: 19px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
.left-column .card h1 {
  padding-top: 17px;
  font-size: 36px;
  line-height: 0.85;
}
.left-column .card h4 {
  line-height: 2.2;
  font-family: MyriadProBold;
  font-size: 15.5px;
}
.left-column .card .surname {
  font-size: 40px;
  font-family: MyriadProBold;
}
.left-column .profile {
  margin-top: 48px;
}
.left-column .profile .content p {
  margin-top: 14px;
  margin-left: 2px;
  font-size: 10px;
  line-height: 1.2;
}
.left-column .profile .content p span {
  font-family: MyriadProBold;
}
.left-column .contact {
  margin-top: 35px;
}
.left-column .contact .content {
  display: flex;
  flex-wrap: nowrap;
}
.left-column .contact .content ul {
  margin-top: 18px;
  margin-left: -8px;
  display: inline-block;
  list-style: none;
}
.left-column .contact .content ul li {
  padding: 9.5px 11px;
  font-size: 13.3px;
}
.left-column .contact .content .top {
  margin-right: 14px;
}
.left-column .contact .content .top li {
  color: #3d6cb0;
  text-transform: uppercase;
  font-family: MyriadProBold;
}
.left-column .skills {
  margin-top: 28px;
  margin-bottom: 28px;
}
.left-column .skills .content {
  margin-top: 21px;
  margin-left: 6px;
}
.left-column .skills .content .skill {
  margin-bottom: 4px;
}
.left-column .skills .content .skill h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 16.6px;
}
.left-column .skills .content .skill .circles {
  min-height: 25px;
  text-align: center;
  width: 100%;
}
.left-column .skills .content .skill .circles .circle {
  display: inline-block;
  min-height: 11px;
  width: 11px;
  margin-right: 3.5px;
  background-color: #3d6cb0;
  border-radius: 50%;
}
.left-column .skills .content .skill .circles .opacity {
  opacity: 0.4;
}
.right-column {
  width: 51%;
  margin-right: 27px;
}
.education {
  margin-top: 20px;
}
.education .content span,
.experience .content span {
  color: #3d6cb0;
  text-transform: uppercase;
  font-family: MyriadProBold;
}
.education .content ul,
.experience .content ul {
  margin-top: 24px;
  margin-left: 5px;
  list-style: none;
}
.education .content ul li,
.experience .content ul li {
  margin-top: 7px;
  padding-left: 25px;
  background: url("img/dote.png") 0px 3px no-repeat;
}
.education .content ul li h3,
.experience .content ul li h3 {
  font-size: 16.6px;
  white-space: pre-wrap;
}
.education .content ul li p,
.experience .content ul li p {
  margin-top: 5px;
  font-family: MyriadProRegular;
  font-size: 10px;
  line-height: 1.2;
}
.experience {
  margin-top: 41px;
}
.experience .content ul {
  margin-top: 34px;
}
.experience .content ul span {
  color: #000;
}
.software {
  margin-top: 41px;
}
.software .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 2px;
}
.software .content .software-skill {
  padding: 2px 0px 14px 0px;
  width: 44.5%;
}
.software .content .software-skill h4 {
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 16.6px;
}
.software .content .software-skill .line {
  width: 100%;
  height: 14px;
  background-color: #e6e6e6;
}
.software .content .software-skill .line .innerline {
  width: 50%;
  height: 14px;
  background-color: #3d6cb0;
}
.software .content .software-skill:nth-child(2n) {
  padding-right: 0px;
}
@media screen and (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .left-column,
  .main .right-column {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .contact .content {
    justify-content: center;
  }
}
